@import "variables", "mixins";

body {
    margin: 0;
    font-family: $master-font;
    color: $primary-text-color;
    background-color: $primary-background-color;
}

#page-wrapper {
    padding: 30px 50px;
}

.NYI {
    text-decoration: line-through;
}

a {
    @include link-styling();
}
