@import "dashboard/stock-frame.scss";
@import "dashboard/crafting.scss";
@import "dashboard/undercut-frame.scss";
@import "dashboard/info-frame.scss";

#content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    #center-content-wrapper {
        display: grid;
        gap: 40px;
        grid-template-rows: min-content 1fr;
    }

    #right-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4em;
    }
}

@media (max-width: 900px) {
    #content-wrapper {
        display: flex;
        flex-direction: column;
        #left-content-wrapper {
            order: 3;
        }
        #center-content-wrapper {
            order: 2;
        }
        #right-content-wrapper {
            order: 1;
        }
    }
}
