#content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    #left-content-wrapper {
        #stock-label {
            font-size: 1.5em;
            margin: 10px;
        }
        #stock-frame {
            .stock-item {
                display: grid;
                grid-template-columns: 2fr 1fr;
                .item-amount-wrapper {
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }

    #center-content-wrapper {
        display: grid;
        gap: 40px;
        grid-template-rows: min-content 1fr;
        #queue-wrapper {
            position: relative;
            .interaction-wrapper {
                display: flex;
                gap: 5px;
                margin-bottom: 2px;
            }
            #toggle-filters-btn {
                position: absolute;
                top: 0;
                right: 0;
            }
            #filters-wrapper {
                position: absolute;
                background-color: $tertiary-background-color;
                border: $secondary-accent-color 1px solid;
                padding: 5px;
                margin: 5px;
                z-index: 1;
                transition: 0.3s;
            }
            #crafting-output-wrapper {
                .craft-queue-item-wrapper {
                    display: grid;
                    grid-template-columns: 4fr 1fr;
                    border: 1px solid $secondary-accent-color;
                    .craft-heading-wrapper {
                        @include crafting-card-grid;
                    }
                    .craft-block-display {
                        font-size: 14px;
                        padding-left: 30px;
                        .card-data-wrapper {
                            .craft-data-header {
                                @include crafting-card-grid;
                            }
                            .craft-data {
                                @include crafting-card-grid;
                            }
                            .cheaper {
                                color: $green;
                            }
                        }
                    }
                }
            }
        }
    }

    #right-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4em;
        #info-frame-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            #info-inputs-wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                #entry-wrapper {
                    select {
                        @include input-styling;
                        width: 250px;
                    }

                    input[type="number"] {
                        @include input-styling;
                        width: 100px;
                    }
                }

                .buttons-wrapper {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 10px;
                    justify-items: center;
                }
            }
            #info-panel-wrapper {
                width: 50%;
                .attribute {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}

#gil_value {
    width: 70px;
}

#amount {
    width: 60px;
}

button {
    @include button-styling;
}
