// profile manager page styles

.profiles {
    .profile-wrapper {
        display: flex;
        gap: 10px;
        padding: 2px 0px;
        .text-wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
    }
}

// account edit page styles
#account-edit-wrapper {
    display: grid;
    gap: 50px;
    .delete-wrapper {
        display: grid;
        gap: 30px;
        .delete-btn-wrapper {
            display: grid;
            gap: 10px;
        }
    }
}

// profile form styles
#profile-form-wrapper {
    width: fit-content;
    form {
        display: grid;
        gap: 2px;
        .world-select-wrapper {
            display: grid;
            grid-template-columns: 90px 1fr;
            select {
                @include input-styling();
            }
        }
        .job-level-input-wrapper {
            display: grid;
            grid-template-columns: 90px 1fr;
            .input-wrapper input {
                @include input-styling();
                width: 3em;
            }
        }
        #retainers-array-wrapper {
            display: grid;
            gap: 2px;
            .retainer-wrapper {
                display: grid;
                grid-template-columns: 4fr 1fr;
                gap: 10px;
                .retainer-input {
                    display: flex;
                    label {
                        width: 90px;
                    }
                    input {
                        @include input-styling();
                    }
                }
                button {
                    width: 100%;
                }
            }
            #add-retainer-btn {
                justify-self: center;
                margin: 5px 0;
            }
        }
    }
}
